body {
  background-color: rgb(74, 81, 86) !important;
}

.list-group, .btn-group, .navbar, iframe {
  margin-bottom: 1rem !important;
}

.card-fill {
  width: 100%;
  height: 500px;
}
  .card-fill .card-body {
    margin: 0 auto;
  }

/* Flashes */
.alert-container {
  position: absolute;
  top: 0.5rem;
  width: 500px;
  left: 50%;
  margin-left: -250px;
}

@keyframes slideDown {
  0% {
    max-height: 0;
    padding: 0  1.25rem;
  }
  25% {
    max-height: 50px;
    padding: 0.75rem 1.25rem
  }
  75% {
    max-height: 50px;
    padding: 0.75rem 1.25rem
  }
  100% {
    max-height: 0;
    padding: 0  1.25rem;
  }
}

.alert-animate {
  overflow: hidden;
  animation-duration: 8.1s;
  animation-name: slideDown;
}

.alert {
  z-index: 1;
  opacity: 0.8;
}

.alert:hover {
  opacity: 1.0;
  cursor: pointer;
}

/* Twitch Embed */
iframe {
  height: 411px;
  width: 100%;
}

.twitch-video-embed {
  margin: 0;
  padding: 0;
  overflow: hidden;
}
